@import url("variables.css");

body {
    font-family: Arial;
    background-color: var(--bg-deep);
    margin: 0;
    color: var(--texto-general);
}

main {
    display: flex;
    align-items: flex-start;
}

div.formulario {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Volvemos a tu caja con sombra magenta */
div.contenido {
    background-color: var(--bg-card);
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px var(--magenta-main);
}

input[type="text"],
textarea {
    background-color: #0a0a15;
    /* Fondo oscuro para que no desentone */
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    width: 95%;
}

.boton {
    padding: 10px;
    width: 100%;
    /* Ajustado para el div flex */
    border-radius: 10px;
    background: var(--blue-light);
    color: var(--texto-general);
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.boton:hover {
    background-color: var(--blue-light-hover);
}