/* --- General --- */
@import url("variables.css");

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-deep);
    margin: 0;
    color: white;
}

main {
    display: flex;
    align-items: flex-start;
}

div.posts {
    flex-grow: 1;
    padding: 20px;
}

/* --- Tarjeta de publicación --- */
.post-card {
    background-color: var(--bg-card);
    border-radius: 10px;
    border: 1px solid var(--shadow-posts);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

img {
    border-radius: 10px;
}

/*Cabecera de los posts*/

header {
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

header h1 {
    margin: 0px;
    text-align: center;
}

header nav {
    text-align: center;
    margin-top: 10px;
}

header span {
    font-size: 18px;
    color: white;
}

header span a {
    color: #90ee90;
    text-decoration: underline;
}

/* Header del post */
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: var(--texto-general);
}

.username {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.date {
    font-size: 12px;
    color: var(--texto-general);
}

/* Contenido del post */

.post-content p {
    width: 400px;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

/* Footer del post */
.post-footer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* --- Botones de los Posts --- */

.boton {
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.like {
    font-size: 16px;
    border: none;
    background: none;
}

.like:hover {
    box-shadow: 5px 5px 5px 1px var(--magenta-main);
    transition: 100ms;
}

.comentar {
    font-size: 16px;
    border: none;
    background: none;
}

.comentar:hover {
    box-shadow: 5px 5px 5px 1px var(--magenta-main);
    transition: 100ms;
}

/* --- Barra de navegación lateral --- */
aside.sidebar {
    background-color: var(--bg-card);
    border-right: 1px solid var(--shadow-posts);
    width: 220px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

/* Contenedor del Título */
.sidebar-logo {
    padding: 10px 15px 30px 15px;
}

.sidebar-logo h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    background: linear-gradient(to right, #fff, var(--magenta-main));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 5px;
    border-radius: 12px;
    color: var(--texto-general);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav-link .icon {
    font-size: 1.3rem;
    margin-right: 15px;
}

.nav-link .text {
    font-size: 16px;
    font-weight: 500;
}

/* Efectos */
.nav-link:hover {
    background-color: var(--blue-light-transparencia);
    /* Fondo verde muy sutil */
    color: #fff;
    transform: translateY(3px);
}